# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
env/
venv/
.venv/

# Environment Variables
.env

# LangGraph
.langgraph_api/
*.pckl

# IDE / Editor
.vscode/
.idea/
*.swp

# macOS
.DS_Store
